.jcarousel-skin-drupal .jcarousel-container {
}

.jcarousel-skin-drupal .jcarousel-direction-rtl {
  direction: rtl;
}

.jcarousel-skin-drupal .jcarousel-container-horizontal {
  width: 600px;
  padding: 20px 40px;
}

.jcarousel-skin-drupal .jcarousel-container-vertical {
  width: 75px;
  height: 245px;
  padding: 40px 20px;
}

.jcarousel-skin-drupal .jcarousel-clip {
  overflow: hidden;
}

.jcarousel-skin-drupal .jcarousel-clip-horizontal {
  width: 600px;
  height: 210px;
}

.jcarousel-skin-drupal .jcarousel-clip-vertical {
  width: 75px;
  height: 245px;
}

.jcarousel-skin-drupal .jcarousel-item {
  width: 122px;
  height: 210px;
  background-image: none !important;
}

.jcarousel-skin-drupal .jcarousel-item-horizontal {
  margin-left: 0;
  margin-right: 10px;
}

.jcarousel-skin-drupal .jcarousel-direction-rtl .jcarousel-item-horizontal {
  margin-left: 10px;
  margin-right: 0;
}

.jcarousel-skin-drupal .jcarousel-item-vertical {
  margin-bottom: 10px;
}

.jcarousel-skin-drupal .jcarousel-item-placeholder {
  background: #ffffff;
  color: #000000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-drupal .jcarousel-next-horizontal {
  position: absolute;
  top: 43px;
  right: 5px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background: transparent url(next-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-drupal .jcarousel-direction-rtl .jcarousel-next-horizontal {
  left: 5px;
  right: auto;
  background-image: url(prev-horizontal.png);
}

.jcarousel-skin-drupal .jcarousel-next-horizontal:hover,
.jcarousel-skin-drupal .jcarousel-next-horizontal:focus {
  background-position: -32px 0;
}

.jcarousel-skin-drupal .jcarousel-next-horizontal:active {
  background-position: -64px 0;
}

.jcarousel-skin-drupal .jcarousel-next-disabled-horizontal,
.jcarousel-skin-drupal .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-drupal .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-drupal .jcarousel-next-disabled-horizontal:active {
  cursor: default;
  background-position: -96px 0;
}

.jcarousel-skin-drupal .jcarousel-prev-horizontal {
  position: absolute;
  top: 43px;
  left: 5px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background: transparent url(prev-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-drupal .jcarousel-direction-rtl .jcarousel-prev-horizontal {
  left: auto;
  right: 5px;
  background-image: url(next-horizontal.png);
}

.jcarousel-skin-drupal .jcarousel-prev-horizontal:hover,
.jcarousel-skin-drupal .jcarousel-prev-horizontal:focus {
  background-position: -32px 0;
}

.jcarousel-skin-drupal .jcarousel-prev-horizontal:active {
  background-position: -64px 0;
}

.jcarousel-skin-drupal .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-drupal .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-drupal .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-drupal .jcarousel-prev-disabled-horizontal:active {
  cursor: default;
  background-position: -96px 0;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-drupal .jcarousel-next-vertical {
  position: absolute;
  bottom: 5px;
  left: 43px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background: transparent url(next-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-drupal .jcarousel-next-vertical:hover,
.jcarousel-skin-drupal .jcarousel-next-vertical:focus {
  background-position: 0 -32px;
}

.jcarousel-skin-drupal .jcarousel-next-vertical:active {
  background-position: 0 -64px;
}

.jcarousel-skin-drupal .jcarousel-next-disabled-vertical,
.jcarousel-skin-drupal .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-drupal .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-drupal .jcarousel-next-disabled-vertical:active {
  cursor: default;
  background-position: 0 -96px;
}

.jcarousel-skin-drupal .jcarousel-prev-vertical {
  position: absolute;
  top: 5px;
  left: 43px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background: transparent url(prev-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-drupal .jcarousel-prev-vertical:hover,
.jcarousel-skin-drupal .jcarousel-prev-vertical:focus {
  background-position: 0 -32px;
}

.jcarousel-skin-drupal .jcarousel-prev-vertical:active {
  background-position: 0 -64px;
}

.jcarousel-skin-drupal .jcarousel-prev-disabled-vertical,
.jcarousel-skin-drupal .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-drupal .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-drupal .jcarousel-prev-disabled-vertical:active {
  cursor: default;
  background-position: 0 -96px;
}

/**
 * Per mode customization
 */

/*
 * Summary mode (delta = 0)
 */

#block-taxonomy_carousel-0 .jcarousel-skin-drupal img {
  max-width: 60px;
  max-height: 54px;
  padding-left: 20px;
}

/*
 * Description mode (delta = 1)
 */

#block-taxonomy_carousel-1 .jcarousel-skin-drupal .jcarousel-clip-horizontal {
  width: 700px;
  height: 150px;
}

.jcarousel-skin-drupal #taxonomy-carousel-description .jcarousel-item {
  width: 660px;
  height: 150px;
}

.jcarousel-skin-drupal #taxonomy-carousel-description .jcarousel-item img {
  float: right;
  margin-top: 0px;
}

#block-taxonomy_carousel-1 .jcarousel-skin-drupal .jcarousel-container-horizontal {
  padding-top: 20px;
  padding-right: 0px !important;
  padding-bottom: 20px !important;
  padding-left: 0px !important;
  margin-left: -15px;
}
